{% extends 'base.html' %}

{% block content %}
<div>
    
    {% for habit in habits %}
    {% with status=habit.statuses.all|dictsort:"date"|last %}
    <!-- Динамические цвета из БД -->
    <div class="habit-item" style="background-color: {{ habit.goal.general_goal.theme.color }}40; border-left: 4px solid {{ habit.goal.general_goal.theme.color }}">

        <!-- Название и статистика -->
        <div>
            <span>{{ habit.name }}</span>
            <span class="habit-stats">({{ habit.completed_days }}/{{ habit.total_days }})</span>
        </div>

        <!-- Форма для отметки статуса привычки -->
        {% if habit.today_status %}
        <form action="{% url 'habitstatus_update' habit.today_status.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="habit-status-btn">
                <div class="habit-item {% if habit.today_status.is_completed %}completed{% else %}active{% endif %}">
                    <div class="status-indicator">
                        {% if habit.today_status.is_completed %}
                            ✅ Выполнено
                        {% else %}
                            ⏳ Ожидает
                        {% endif %}
                    </div>
                </div>
            </button>
        </form>
        {% endif %}

        <a href="{% url 'update_habit' habit.pk %}" class="btn btn-outline-secondary">Редактировать</a>
        <a href="{% url 'delete_habit' habit.pk %}" class="btn btn-outline-danger">Удалить</a>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="page-btn">Prev</a>
  {% endif %}

  <span class="page-info">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="page-btn">Next</a>
  {% endif %}
</div>
{% endif %}

<a href="{% url 'add_habit' %}" class="btn btn-outline-secondary">Создать привычку</a>
{% endblock %}