{% extends 'base.html' %}

{% block content %}
<div>
{% for goal in goals %}
<div class="habit-item" style="background-color: {{ goal.general_goal.theme.color }}40; border-left: 4px solid {{ goal.general_goal.theme.color }}">
    <a href="{% url 'temporal_goal_detail' goal.pk %}" class="text-decoration-none text-dark">
        <span style="color: {{ goal.general_goal.theme.color }}">{{ goal.name }}</span>
        <span class="habit-deadline">{{ goal.deadline|date:"M. j, Y" }}</span>
    </a>
    <span>
        <form method="post" action="{% url 'temporal_update' goal.pk %}">
            {% csrf_token %}
            {% if goal.is_completed %}
                <button type="submit" class="btn btn-outline-secondary btn-sm">
                    ❌ Отменить выполнение
                </button>
            {% else %}
                <button type="submit" class="btn btn-outline-success btn-sm">
                    ✅ Отметить выполненной
                </button>
            {% endif %}
        </form>
    </span>

    <a href="{% url 'update_temporal_goal' goal.pk %}" class="btn btn-outline-secondary">
        Редактировать
    </a>
    <a href="{% url 'delete_temporal_goal' goal.pk %}" class="btn btn-outline-danger">
        Удалить
    </a>
</div>
{% endfor %}
{% if is_paginated %}
<div class="pagination">
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="page-btn">Prev</a>
{% endif %}

<span class="page-info">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="page-btn">Next</a>
{% endif %}
</div>
{% endif %}
<div class="text-center mt-5">
    <a href="{% url 'temporal_goal_add' %}" class="btn btn-outline-secondary">
        + Добавить цель
    </a>
</div>
</div>
{% endblock %}