{% extends 'base.html' %}

{% block content %}
{% for user in users %}
<p>
    <a href="{% url 'users:detail_user' user.pk %}" class="text-decoration-none text-dark">
        {{ user.username }} <!-- Добавьте это или другое поле пользователя -->
    </a>
</p>
<!--сделать возможность кликнуть на пользователя и узнать информацию о нем-->
{% endfor %}
{% if is_paginated %}
<div class="pagination">
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="page-btn">Prev</a>
{% endif %}

<span class="page-info">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="page-btn">Next</a>
{% endif %}
</div>
{% endif %}
{% endblock %}