{% extends 'base.html' %}

{% block content %}

    <div style="background-color: {{ goal.theme.color }}40;">
        <h1>{{ goal.name }}</h1>
        <p>{{ goal.description }}</p>
        <div style="background-color: {{ goal.theme.color }}50;">
        <h3>Active_goals</h3>
            {% for active_goal in goal.incomplete_goals %}
                <p>{{ active_goal.name }}</p>
            {% endfor %}
        </div>
        <div style="background-color: color-mix(in srgb, #22c55e 20%, {{ goal.theme.color }} 20%);">
            <h3>Completed_goals</h3>
            {% for completed_goal in goal.completed_goals %}
                <p>{{ completed_goal.name }}</p>
            {% endfor %}
        </div>
        {% if progress %}
        <div style="margin: 20px 0; padding: 15px; border-left: 4px solid {{ goal.theme.color }};">
            <h3>Прогресс: {{ progress }}%</h3>
        </div>
        {% endif %}
        {% if goal.main_goal %}
            <h4>Главная цель</h4>
            <p style="background: {{ goal.theme.color }}15; padding: 8px; border-radius: 4px;">
                🏆 {{ goal.main_goal.name }} 

            {% if goal.main_goal.is_completed %}
                ✅ 
            {% else %}
                ❌ 
            </p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}