{% extends 'base.html' %}

{% block content %}
<!-- goals/profile.html -->
<div class="profile">
    <h2>Профиль пользователя: {{ user.username }}</h2>
    <div class="progress-info">
        <h3>📊 Ваш прогресс</h3>
        <!-- Прогресс за все время -->
        <div class="progress-item">
            <div class="progress-header">
                <span>Всего:</span>
                <strong class="numbers">{{ total_progress.text }} ({{ total_progress.percentage }}%)</strong>
        </div>
    </div>
    <div class="streak-container">
        <div class="streak">
            🔥 {{ streak }} дней подряд
        </div>
    </div>
</div>
{% endblock %}