{% extends 'base.html' %}

{% block content %}
<div class="habits-list">
    {% for habit in habits %}
    <div class="habit-item
        {% if habit.category.name == 'Здоровье' %}habit-health
        {% elif habit.category.name == 'Работа' %}habit-work
        {% elif habit.category.name == 'Учеба' %}habit-study
        {% endif %}">

        <span>{{ habit.name }}</span>

        {% with status=habit.statuses.all|dictsort:"date"|last %}
                <form action="{% url 'habitstatus_update' status.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="habit-status" style="border:none; background:none; font-size:14px; cursor:pointer;">
                        {% if status.is_completed %}
                            ✅
                        {% else %}
                            ⬜
                        {% endif %}
                    </button>
                </form>
        {% endwith %}
    </div>
    {% endfor %}
</div>
{% endblock %}