{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
<h3>Удалить цель</h3>
    <div class="card">
        <h5>{{ generalgoal.name }}</h5>
        <p>Вы уверены, что хотите удалить эту цель</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Да, удалить</button>
                <a href="{% url 'general_goals' %}" class="btn btn-secondary">Отмена</a>
            </form>
    </div>
</div>
{% endblock %}