{% extends 'base.html' %}

{% block content %}
{% for goal in goals %}
<div class="habit-item" style="background-color:
{{ goal.theme.color }}40; border-left: 4px solid {{ goal.theme.color }}">
    <a href="{% url 'general_goals_detail' goal.pk %}" class="text-decoration-none text-dark">
    <div style="color:{{ goal.theme.color }}">
        {{ goal.name }}
    </div>
    </a>
<p><a href="{% url 'general_goal_update' goal.pk %}" class="btn btn-outline-secondary">Редактировать</a></p>
    <a href="{% url 'delete_temporal_goal' goal.pk %}" class="btn btn-outline-danger">
        Удалить
    </a>
</div>
{% endfor %}

{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="page-btn">Prev</a>
  {% endif %}

  <span class="page-info">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="page-btn">Next</a>
  {% endif %}
</div>
{% endif %}

<div class="text-center mt-5">
    <a href="{% url 'general_goals_add' %}" class="btn btn-outline-secondary">
        + Добавить цель
    </a>
</div>

{% endblock %}