aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asgiref==3.10.0
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
comtypes==1.4.14
Django==5.2.8
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
edge-tts==7.2.7
frozenlist==1.8.0
greenlet==3.3.0
gTTS==2.5.4
idna==3.11
multidict==6.7.0
pillow==12.0.0
playwright==1.57.0
propcache==0.4.1
pyee==13.0.0
PyJWT==2.12.1
pypiwin32==223
python-dotenv==1.2.1
pyttsx3==2.99
pywin32==311
requests==2.32.5
setuptools==80.9.0
sqlparse==0.5.3
tabulate==0.9.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
yarl==1.22.0
