{% extends 'base.html' %}

{% block content %}
<p><a href="{% url 'theme_create' %}" class="text-decoration-none text-dark">Создание темы</a></p>
<p><a href="{% url 'users:list_users' %}" class="text-decoration-none text-dark">Список пользователей/админов</a></p>
<!--Список пользователей допустим?-->
<!--Ну по сути надо список пользователей, которые обладают правами-->
<!--Но так как сайт тренировочный у меня тут немного будет пользователей и тем более админов-->
<!--админ будет 1 это я поэтому можно сделать просто список пользователей-->
{% endblock %}
